<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>자체제작 상품 목록</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel = "icon" href ="/img/favicon--breakdown2.png" type = "image/png" sizes = "16x16"> <!-- 파비콘(favicon) 넣기-->

	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2">
				<div th:replace="~{SD/SD_arcodian :: SD_arcodianFragment}"></div>
			</div>



			<!-- 테이블 컬럼 (1:4 비율) -->
			<div class="col-lg-10">
				
				<!-- 상품 등록 버튼 -->
				<a href="http://localhost:8080/SD/product/pbcreate" class="btn btn-primary">상품등록</a>
				<br><br>

				<h3>전체 상품 조회</h3>

				<!-- 데이터 테이블 시작-->
				<table class=" table table-hover">
					<thead>
						<tr class="table-active">
							<th>판매자명</th>
							<th>상품분류</th>
							<th>이미지</th>
							<th>상품명</th>
							<th>상품코드</th>
							<th>개당 판매금액</th>
							<th>상품설명</th>
							<th>상품등록날짜</th>
							<th></th> <!-- 사업자등록번호, 총판매수량, 총가격은 화면출력 X -->
						</tr>
					</thead>

					<tbody>
						<tr th:each="pb : ${pbProductList}">
							<td th:text="${pb.sellerName}"></td>
							<td th:text="${pb.category}"></td>
							<td>
								<img th:src="${pb.imageFileLink}" alt="상품 이미지" style="width:100px; height:auto;">
							</td>			
							<td th:text="${pb.productName}"></td>
							<td th:text="${pb.productCode}"></td>
							<td th:text="${pb.priceEA}"></td>
							<td th:text="${pb.description}"></td>
							<td th:text="${pb.registrationDate}"></td>
							<td>
								<!-- 수정. 삭제 버튼 -->
								<a th:href="@{'/SD/product/pb/update/' + ${pb.sellerName}}"
									class="btn btn-primary">수정</a>
								<form th:action="@{'/SD/product/pb/delete/' + ${pb.sellerName}}" method="post">
									<input type="hidden" name="_method" value="delete" />
									<button class="btn btn-primary" type="submit">삭제</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- 데이터 테이블 끝-->
				<!-- 페이징 프라그먼트 -->
				<div th:replace="~{SD/SD_paging::SD_pagingFragment}"></div>
				<!-- 버튼 프라그먼트 -->
				<div th:replace="~{SD/SD_button::SD_buttonFragment}"></div>

			</div>
			<!-- 테이블 컬럼 끝(1:4 비율) -->

		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->







	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>