<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채권, 채무 조회</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" href="/img/favicon--inquiry1.png" type="image/png" sizes="16x16"> <!-- 파비콘(favicon) 넣기-->
    
</head>
<body>
    <!-- 네비게이션바 프라그먼트-->
    <nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div th:replace="~{/ac/AC_modal :: modalFragment}"></div>

    <div class="container-fluid">
        <div class="row">

            <!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
            <div class="col-lg-2">
                <div th:replace="~{ac/AC_arcodian :: arcodianFragment}"></div>
            </div>

            <!-- 테이블 컬럼 (1:4 비율) -->
            <div class="col-lg-10">
                <!-- 조건 조회 버튼 시작-->
				<div class="mb-3 d-flex justify-content-between align-items-center">
				    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="option1" th:checked="${option == 'option1'}">
				        <label class="btn btn-outline-primary" for="btnradio1">채권 관리</label>
				        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="option2" th:checked="${option == 'option2'}">
				        <label class="btn btn-outline-primary" for="btnradio2">채무 관리</label>
				    </div>
				    
				    <form action="/AC/bonddebt" method="get" class="flex-grow-1">
						<input type="hidden" id="pageNumber" name="page" th:value="0">
				        <div class="d-flex justify-content-end"> <!-- 오른쪽 정렬 -->
				            <div class="col-auto me-3"> <!-- 자동으로 열 맞춤 -->
				                <input class="form-control me-sm-2" type="search" name="keyword" placeholder="검색어를 입력하세요">
				            </div>
				            <div class="col-auto me-3">
				                <select class="form-select" id="category" name="category">
				                    <option value="date">발생 일자</option>
				                    <option value="trader">거래처</option>
				                    <option value="amount">최초 금액</option>
				                    <option value="maturityDate">만기 일자</option>
				                    <option value="description">적요</option>
				                    <!-- 원하는 검색 항목을 추가할 수 있습니다. -->
				                </select>
				            </div>
				            <div class="col-auto">
				                <button type="submit" class="btn btn-primary">검색</button>
				            </div>
				        </div>
				    </form>
				</div>
                <!-- 조건 조회 버튼 끝-->
                
                <!-- 옵션 1일때 시작 -->
                <div id="option1Content" style="display: none;">
                    <!-- 데이터 테이블 시작-->
				   <table class = "table table-hover">
				        <thead>
				            <tr class="table-active">
				                <th>채권 번호</th>
				                <th>발생 일자</th>
				                <th>거래처</th>
				                <th>최초 금액</th>
				                <th>증감 구분</th>
				                <th>남은 금액</th>
				                <th>만기 일자</th>
				                <th>적요</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody>
				            <!-- for each 문 -->
				            <tr th:each="bond : ${bonds}">
				                <!--화면에 띄울 정보-->
				                <td th:text="${bond.bondNumber}"></td>
				                <td th:text="${bond.date}"></td>
				                <td th:text="${bond.trader}"></td>
				                <td th:text="${bond.amount}"></td>
				                <td th:text="${bond.increaseDecreaseType}"></td>
				                <td th:text="${bond.balance}"></td>
				                <td th:text="${bond.maturityDate}"></td>
				                <td th:text="${bond.description}"></td>
				                <!-- 수정 버튼 추가 -->
							    <td>
							        <button class="btn btn-primary open-bond-modal" data-toggle="modal" data-target="#bondModal">수정</button>
							    </td>
				            </tr>
				        </tbody>
				    </table>
                    <!-- 데이터 테이블 끝-->
	                <!-- 페이징 프라그먼트 -->
					<div th:replace="~{/ac/AC_paging::AC_pagingFragment(paging=${bonds})}"></div>
					<!-- 버튼 프라그먼트 -->
					<div th:replace="~{ac/AC_bond_debt_botton::bottonFragment}"></div>
                </div> <!-- 옵션 1일 때 리스트 -->
                
                <!-- 옵션 2일때 시작 -->
                <div id="option2Content" style="display: none;">
                    <!-- 데이터 테이블 시작-->
				    <table class = "table table-hover">
				        <thead>
				            <tr class="table-active">
				                <th>채무 번호</th>
				                <th>발생 일자</th>
				                <th>거래처</th>
				                <th>최초 금액</th>
				                <th>증감 구분</th>
				                <th>남은 금액</th>
				                <th>만기 일자</th>
				                <th>적요</th>
				                <th></th>
				            </tr>
				        </thead>
				        <tbody>
				            <!-- for each 문 -->
				            <tr th:each="debt : ${debts}">
				                <!-- 화면에 띄울 정보 -->
				                <td th:text="${debt.debtNumber}"></td>
				                <td th:text="${debt.date}"></td>
				                <td th:text="${debt.trader}"></td>
				                <td th:text="${debt.amount}"></td>
				                <td th:text="${debt.increaseDecreaseType}"></td>
				                <td th:text="${debt.balance}"></td>
				                <td th:text="${debt.maturityDate}"></td>
				                <td th:text="${debt.description}"></td>
				           		<!-- 수정 버튼 추가 -->
							    <td>
							        <button class="btn btn-primary open-debt-modal" data-toggle="modal" data-target="#debtModal">수정</button>
							    </td>
				            </tr>
				        </tbody>
				    </table>
                    <!-- 데이터 테이블 끝-->
                   	<!-- 페이징 프라그먼트 -->
					<div th:replace="~{/ac/AC_paging::AC_pagingFragment(paging=${debts})}"></div>
					<!-- 버튼 프라그먼트 -->
					<div th:replace="~{ac/AC_bond_debt_botton::bottonFragment}"></div>
                </div> <!-- 옵션 2일 때 리스트 -->
            </div> <!-- 테이블 컬럼 끝(1:4 비율) -->
        </div> <!-- 컨테이너 플루이드 정의 끝 -->
    </div> <!-- 컨테이너 플루이드 끝 -->
    
    <!-- Bootstrap JS 연결 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<!-- JQuery 연결 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/AC_javascript.js"></script>
	
    <script>
		$(document).ready(function() {
        	initializePage("option1Content", "option2Content");
        });
    </script>
	
	<script type="text/javascript">
		const urlParams = new URLSearchParams(window.location.search);
		const keywordValue = urlParams.get('keyword') || "";
		const categoryValue = urlParams.get('category') || "";
		const currentPage = parseInt(urlParams.get('page')) || 0;
		
		function nextPage() {
		    updatePage(currentPage + 1, keywordValue, categoryValue);
		}
		
		function prevPage() {
		    updatePage(currentPage - 1, keywordValue, categoryValue);
		}
		
		function goToPage(pageNum) {
		    updatePage(pageNum, keywordValue, categoryValue);
		}
	</script>
	
	<script>
		$(document).ready(function() {
		    modalOnClick('open-bond-modal', 'bondModal', 'bondNumber', 'submitBondNumber');
		    modalOnClick('open-debt-modal', 'debtModal', 'debtNumber', 'submitDebtNumber');
		});
	</script>

    <script>
	    // maturityDate 입력 필드의 min 속성을 오늘 날짜로 설정
	    document.getElementById('bondMaturityDate').min = getTodayDate();
	    document.getElementById('debtMaturityDate').min = getTodayDate();
	</script>
	
	<script>
		$(document).ready(function() {
		    modalSubmit('submitBondUpdate', 'bondPriceField', 'bondAmount', 'bondMaturityDate', 'bondForm');
		});
		
		$(document).ready(function() {
		    modalSubmit('submitDebtUpdate', 'debtPriceField', 'debtAmount', 'debtMaturityDate', 'debtForm');
		});
	</script>
</body>
</html>