<div th:fragment = "bottonFragment">

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">신규 등록</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="/AC/bondregi">채권 등록</a>
      <a class="dropdown-item" href="/AC/debtregi">채무 등록</a>
    </div>
  </div>
</div>
<button type="button" class="btn btn-success">Excel Export</button>
</div>
