<div th:fragment = "bottonFragment">
	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<form id="myForm" action="/AC/saleslip" method="post">
	    <button type="submit" class="btn btn-info">전표 갱신</button>
	</form>
	</div>
	<button type="button" class="btn btn-success">Excel Export</button>	
</div>

<div th:fragment = "depositBottonFragment">
	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<form id="depositForm" action="/AC/transactionslip" method="post">
		<input type="hidden" name="transaction" value="deposit">
	    <button type="submit" class="btn btn-info">전표 갱신</button>
	</form>
	</div>
	<button type="button" class="btn btn-success">Excel Export</button>	
</div>

<div th:fragment = "withdrawalBottonFragment">
	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<form id="withdrawalForm" action="/AC/transactionslip" method="post">
		<input type="hidden" name="transaction" value="withdrawal">
	    <button type="submit" class="btn btn-info">전표 갱신</button>
	</form>
	</div>
	<button type="button" class="btn btn-success">Excel Export</button>	
</div>