.nav1, .nav2 {
	height: 7.5vh;
}

.navbar-nav .nav-item {
    flex-grow: 1; /* Ensure equal spacing */
    text-align: center; /* Center align text */
}

.navbar-nav .nav-link {
    font-size: 1.2em; /* Increase font size */
}
