@import "reset.css";
@import "maintap.css";
@import "sidebar.css";

body {
	background-color: #fbfbfb;
}

.main--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.main--header--icon {}

.icons {
	display: flex;
	justify-content: flex-end;
}

#main--header--icon--sales {
	height: 30px;
	display: flex;
	justify-content: left;
	padding-right: 30px;
}

#main--header--icon--inventory {
	height: 30px;
	display: flex;
	justify-content: left;
}

#main--header--icon--accounting {
	height: 30px;
	display: flex;
	justify-content: left;
}

#main--header--icon--buy {
	height: 30px;
	display: flex;
	justify-content: left;
}

#main--header--icon--hrm {
	height: 30px;
	display: flex;
	justify-content: left;
}

#main--header--icon--make {
	height: 30px;
	display: flex;
	justify-content: left;
}

.contents {
	display: flex;
	align-items: center;
}

.contents--main {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.marketing--contents {
	display: flex;
	flex-direction: column;
}

.marketing--contents--main {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}