<div class="accordion" id="accordionExample" th:fragment="HR_arcodianFragment">
	<!-- 아코디언 아이템 1 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
				aria-expanded="true" aria-controls="collapseOne">
				사원관리
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/HR/mem/create">신규 사원 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/mem/search">사원 조회</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/mem/list">사원 현황</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 2 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<a class="accordion-button collapsed" href="http://localhost:8080/HR/dept/create">부서관리</a>
		</h2>
	</div>

	<!-- 아코디언 아이템 3 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				근태관리
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/HR/work/create">출퇴근 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/work/vacation">휴가 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/work/search">근태내역 조회</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 4 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				초과근무
			</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="#">초과근무 등록</a>
				<br>
				<a class="dropdown-item" href="#">초과근무내역 수정</a>
				<br>
				<a class="dropdown-item" href="#">초과근무 조회</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 5 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFive">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				근로계약서
			</button>
		</h2>
		<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/HR/cont/create">근로계약서 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/cont/list">근로계약서 조회 및 수정</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 6 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSix">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				일용근무
			</button>
		</h2>
		<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/HR/day/create">일용직 근무 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/day/list">일용직 근무 조회</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 7 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSeven">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				증명서 관리
			</button>
		</h2>
		<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/HR/doc/create">증명서 등록</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/HR/doc/list">증명서 조회</a>
			</div>
		</div>
	</div>
</div>