<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>증명서 목록</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS 연결 -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
   <link rel = "icon" href ="/img/favicon-team--management1.png" type = "image/png" sizes = "16x16"> <!-- 파비콘(favicon) 넣기-->
</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2">
				<div th:replace="~{HR/HR_arcodian :: HR_arcodianFragment}"></div>
			</div>

			<!-- 테이블 컬럼 (1:4 비율) -->
			<div class="col-lg-10">

				<!-- 현재 근로계약서 목록 -->

				<table class="table table-hover">
					<thead>
						<tr class="table-active">
							<th>발행번호</th>
							<th>사원번호</th>
							<th>사원명</th>
							<th>종류</th>
							<th>용도</th>
							<th>등록일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="doc : ${docList}">
							<td th:text="${doc.docNum}"></td>
							<td th:text="${doc.employeeId}"></td>
							<td th:text="${doc.name}"></td>
							<td th:text="${doc.docType}"></td>
							<td th:text="${doc.docUse}"></td>
							<td th:text="${doc.docDate}"></td>
							<td>
								<!-- 수정. 삭제 버튼 -->
								<a th:href="@{'/HR/doc/update/' + ${doc.docNum}}" class="btn btn-primary">수정</a>
								<form th:action="@{'/HR/doc/delete/' + ${doc.docNum}}" method="post">
									<input type="hidden" name="_method" value="delete" />
									<button class="btn btn-primary" type="submit">삭제</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- 폼 끝-->
				<!-- 페이징 프라그먼트 -->
				<!--<div th:replace="~{HR/HR_paging::HR_pagingFragment}"></div>-->
				<!-- 버튼 프라그먼트 -->
				<div th:replace="~{HR/HR_button::HR_buttonFragment}"></div>
			</div>
			<!-- 테이블 컬럼 끝(1:4 비율) -->

		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->



	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>