 <!-- 페이징 처리 -->
<div th:fragment ="SD_pagingFragment" th:if="${paging.totalPages > 1}">
  <!-- 이전 페이지 링크 -->
  <ul class="pagination pagination-lg justify-content-center" th:classappend="${paging.isFirst() ? 'disabled' : ''}">
    <li class="page-item disabled">
      <a class="page-link" th:href="@{${currentUrl}(page=${paging.number - 1})}">&laquo;</a>
    </li>
    
    <!-- 페이지 번호 링크 -->
    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, paging.totalPages - 1)}"
        th:classappend="${pageNum == paging.number ? 'active' : ''}">
      <a class="page-link" th:href="@{${currentUrl}(page=${pageNum})}" th:text="${pageNum + 1}"></a>
      

    </li>
    
    <!-- 다음 페이지 링크 -->
    <li class="page-item" th:classappend="${paging.isLast() ? 'disabled' : ''}">
      <a class="page-link" th:href="@{${currentUrl}(page=${paging.number + 1})}">&raquo;</a>
    </li>
  </ul>
</div>