<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8080/product/regshop -->

<head>
	<title>Seller List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div class="container-fluid">
		<div class="row">

			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2">
				<div th:replace="~{SD/SD_arcodian :: arcodianFragment}"></div>
			</div>


			<!-- 테이블 컬럼 (1:4 비율) -->
			<div class="col-lg-10">
				<!-- 데이터 테이블 시작-->
				<table id="foo-table" class="table table-hover">
					<thead>
						<tr class="table-active">
							<th>Product ID</th>
							<th>Product Type</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Registration Date</th>
							<th>Image</th>
							<th>Category</th>
							<th>Seller ID</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="product : ${paging.content}">
							<td th:if="${product.id}" th:text="${product.id}">Product ID</td>
							<td th:text="${product.productType}">Product Type</td>
							<td th:text="${product.productName}">Product Name</td>
							<td th:text="${#numbers.formatInteger(product.price, 0)}">Price</td>
							<td
								th:text="${product.registrationDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
								Registration Date</td>
							<td>
								<img th:if="${product.imageFile}" th:src="@{${product.imageFile}}" alt="Product Image"
									height="100" width="100">
								<span th:unless="${product.imageFile}">No Image</span>
							</td>
							<td th:text="${product.category}">Category</td>
							<td th:text="${product.seller.sellerId}">Seller ID</td>
						</tr>
					</tbody>
				</table>
				<!-- 데이터 테이블 끝-->

				<!-- 페이징 프라그먼트 -->
				<div th:replace="~{/paging::pagingFragment}"></div>
				<!-- 버튼 프라그먼트 -->
				<div th:replace="~{/botton::bottonFragment}"></div>
			</div>
			<!-- 테이블 컬럼 끝(1:4 비율) -->

		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->







	<!-- Bootstrap JS 연결 -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- DataTables JS 연결 -->
	<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
	<script type="text/javascript">
		jQuery(function ($) {
			$("#foo-table").DataTable();
		});

		$("#foo-table").DataTable({
			// 표시 건수기능 숨기기
			lengthChange: false,
			// 정보 표시 숨기기
			info: false,
			// 페이징 기능 숨기기
			paging: false
		});
	</script>
</body>

</html>