<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>회원별 구매 카테고리 분석</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2" style="padding-right: 15px;"> <!-- 아코디언과 각 사각형 간 거리 조정 -->
				<div th:replace="~{SD/SD_arcodian :: SD_arcodianFragment}"></div>
			</div>

			<!-- 그래프 HTML 파일을 iframe으로 삽입 -->
			<div class="col-lg-10" style="padding-right: 20px; padding-left: 20px;">
				<br>
				<!-- 회원 선택 드롭다운 -->
				<select id="memberSelect" onchange="updateGraphImage()">
					<option value="">회원 선택 :</option>
					<option th:each="member : ${memberList}" th:value="${member.memberId}" th:text="${member.memberId}"></option>
				</select>
				<div class="image-box"
					style="background-color: rgb(242,242,242); padding: 20px; text-align: center; display: flex; flex-direction: column; justify-content: center; margin-bottom: 15px; border-radius: 10px;">
					<h4 style="margin-bottom: 15px;">회원별 구매 카테고리 분석</h4>
					<img id="graphImage" style="width: 50%; height: auto; margin: auto;" />
				</div>
			</div>



		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->

	<!-- Bootstrap JS 연결 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<!-- JQuery 연결 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script>
        function updateGraphImage() {
            var memberId = document.getElementById('memberSelect').value;
            var imagePath = memberId ? `/img/SD_graph_${memberId}.png` : '';
            document.getElementById('graphImage').src = imagePath;
        }
    </script>
</body>

</html>