<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>셀러 등록</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS 연결 -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>


<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="/navbar :: navbarFragment"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2">
				<div th:replace="SD/SD_arcodian :: SD_arcodianFragment"></div>
			</div>

			<!-- 테이블 컬럼 (1:4 비율) -->
			<div class="col-lg-10">
				
				<!-- 폼 -->
				<form th:action="@{/SD/seller/create}" th:object="${SD_sellerCreateForm}" method="post">
					<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
					<div class="mb-3">
						<label for="sellerId" class="form-label">사업자등록번호(하이픈 포함 입력)</label>
						<input type="text" th:field="*{sellerId}" class="form-control">
					</div>
					<div class="mb-3">
						<label for="sellerName" class="form-label">판매자명</label>
						<input type="text" th:field="*{sellerName}" class="form-control">
					</div>
					<div class="mb-3">
						<label for="sellerPhoneNumber" class="form-label">연락처(숫자만 입력)</label>
						<input type="text" th:field="*{sellerPhoneNumber}" class="form-control">
					</div>
					<div class="mb-3">
						<label for="sellerEmail" class="form-label">이메일</label>
						<input type="email" th:field="*{sellerEmail}" class="form-control">
					</div>
					<div class="mb-3">
						<label for="sellerAddress" class="form-label">주소</label>
						<input type="text" th:field="*{sellerAddress}" class="form-control">
					</div>
					
					<button type="submit" class="btn btn-primary">등록하기</button>
				</form>
				<br>
				<p><a class="btn btn-primary" href="http://localhost:8080/">홈으로 돌아가기</a></p>
				<!-- 폼 끝-->


			</div>
			<!-- 테이블 컬럼 끝(1:4 비율) -->

		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->




	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
