


	<!-- 채권 수정 모달 -->
	<div class="modal" id="bondModal" th:fagment="itemModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- 모달 헤더 -->
	            <div class="modal-header">
	                <h4 class="modal-title">채권 수정</h4>
	                <button type="button" class="close">&times;</button>
	            </div>
	            <!-- 모달 본문 -->
	            <div class="modal-body">
					
					<!-- 수정 내용 -->
		 		
	            </div>
	            <!-- 모달 푸터 -->
	            <div class="modal-footer">
	                <button type="button" id="submitBondUpdate" class="btn btn-primary">수정</button>
	            </div>
	        </div>
	    </div>
	</div>




<div class="modal" th:fragment="regiCheckModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body modalmodal">
		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save changes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
					id="closeModalButton">Close</button>
			</div>
		</div>
	</div>
</div>

