<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채무 등록</title>
</head>
<body>
    <h2>채무 등록</h2>
    <form th:action="@{/debt_regi}" method="post">

        <label for="trader">거래자:</label>
        <input type="text" id="trader" name="trader" required><br>

        <label for="amount">금액:</label>
        <input type="number" id="amount" name="amount" required><br>

        <label for="maturityDate">만기일:</label>
        <input type="date" id="maturityDate" name="maturityDate" required><br>
        
        <script>
			// 오늘 날짜를 가져오는 함수
		    function getTodayDate() {
		        var today = new Date();
		        var dd = String(today.getDate()).padStart(2, '0');
		        var mm = String(today.getMonth() + 1).padStart(2, '0'); // 1월은 0으로 시작하므로 1을 더해줍니다.
		        var yyyy = today.getFullYear();
		
		        return yyyy + '-' + mm + '-' + dd;
		    }
		
		    // maturityDate 입력 필드의 min 속성을 오늘 날짜로 설정
		    document.getElementById('maturityDate').min = getTodayDate();
		</script>

        <label for="description">적요:</label>
        <input type="text" id="description" name="description" required><br>

        <input type="submit" value="등록">
    </form>
</body>
</html>