<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- http://localhost:8080/user/signup-->
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrapLux.css}">
</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<br>
	<br>
	<br>

	<form th:action="@{/user/signup}" th:object="${signupForm}" method="post">
		<div class="container">
			<div class="form-group">
				<label for="userId">User ID</label>
				<input type="text" th:field="*{userId}" class="form-control" id="userId" placeholder="Enter User ID">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter Name">
			</div>

			<div class="form-group">
				<label for="employeeId">사원번호</label>
				<input  type="text" th:field="*{employeeId}" class="form-control" id="employeeId" name ="employeeId" placeholder="사원번호 입력">
			</div>
		</div>
		<br>
		<br>
		<div class="container-fluid d-flex justify-content-center align-items-center">
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</div>
	</form>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>