
<div class="accordion" id="accordionExample" th:fragment ="arcodianFragment">
	<!-- 아코디언 아이템 1 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
				aria-expanded="true" aria-controls="collapseOne">
				받은메일함
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="#">받은 메일함</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 2 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				보낸메일함
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/member/list">보낸 메일함</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/member/purchase">기능삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>

	<!-- 아코디언 아이템 3 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				임시보관함
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/seller/list">임시보관함</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/seller/commissionrate">기능삽입</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/seller/sellercommission">기능삽입</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/seller/sales">기능삽입</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 4 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				내게쓴메일함
			</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/product/regshop">내게 쓴 메일함</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/product/pbproduct">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>
	
	<!-- 아코디언 아이템 5 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFive">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				휴지통
			</button>
		</h2>
		<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/product/regshop">휴지통</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/product/pbproduct">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>
	
		<!-- 아코디언 아이템 6 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSix">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				스팸메일함
			</button>
		</h2>
		<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/product/regshop">스팸메일함</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/product/pbproduct">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>
</div>