<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8080/ -->
<head>
	<title>JM_ERP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="icon" href="/img/favicon--spaceship.png" type="image/png" sizes="16x16"> <!-- 파비콘(favicon) 넣기-->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>
	<!-- 사이드바 -->
	<aside th:replace="~{sidebar :: sidebarFragment}"></aside>
	
	<div class="main-contents">
		<!-- 달력 -->
		<div th:replace="~{calendar :: calendarFragment}"></div>
		
		<!-- 날씨 -->
		<div class="main-weather">
	    <dl>
	      <dt>기온</dt>
	      <dd class="temperature"></dd>
	      <dt>위치</dt>
	      <dd class="place"></dd>
	      <dt>설명</dt>
	      <dd class="description"></dd>
	      <img class="wheather-icon" />
	    </dl>
	    </div>
		
	</div>

	

	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<!-- JQuery 연결 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="calendar.js"></script>
	<script type="text/javascript" src="weather.js"></script>
	<script>
	    $(document).ready(function () {
	        var selectedOption = localStorage.getItem('selectedOption') || "option1";
	        var currentPage = localStorage.getItem('currentPage') || 1;
	
	        if (selectedOption === "option1") {
	            $("#option1Content").show();
	            $("#option2Content").hide();
	        } else if (selectedOption === "option2") {
	            $("#option1Content").hide();
	            $("#option2Content").show();
	        }
	        $("input[name='btnradio'][value='" + selectedOption + "']").prop('checked', true);
	
	        // 라디오 버튼 변경 시 로컬 스토리지에 저장
	        $("input[name='btnradio']").change(function () {
	            selectedOption = $(this).val();
	            localStorage.setItem('selectedOption', selectedOption);
	            
	            // 페이지를 0으로 설정
	            localStorage.setItem('currentPage', 0);
	            
	            // 현재 URL에서 페이지 파라미터를 제거한 뒤 페이지를 0으로 설정하여 리로드
	            var currentUrl = window.location.href.split('?')[0];
	            window.location.href = currentUrl + "?page=0";
	        });
	    });
	</script>
	
</body>

</html>