<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8080/ -->
<head>
	<title>JM_ERP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>
	<div class="main-contents">
			<!-- 사이드바 -->
			<aside th:replace="~{sidebar :: sidebarFragment}"></aside>
			<div class="main-dayinfo"> 
				<!-- 달력 -->
				<div th:replace="~{calendar :: calendarFragment}"></div>
	    		
	    		<!-- 날씨 -->
	    		<div class="main-weather">
			    <dl>
			      <dt>기온</dt>
			      <dd class="temperature"></dd>
			      <dt>위치</dt>
			      <dd class="place"></dd>
			      <dt>설명</dt>
			      <dd class="description"></dd>
			      <img class="wheather-icon" />
			    </dl>
			    </div>
		    </div>
			
			<!-- NB Product -->
			<div class="main-contents1">
				<div class="main-contents1-header">
					<h1>판매 상품</h1>
					<div>
						<span>자세히 보기</span>					
						<span>></span>
					</div>
				</div>
				<table id="foo-table" class="table table-hover">
					<thead>
						<tr class="table-active">
							<th>Product ID</th>
							<th>Product Type</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Registration Date</th>
							<th>Image</th>
							<th>Category</th>
							<th>Seller ID</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="product : ${regshop.content}">
							<td th:if="${product.id}" th:text="${product.id}">Product ID</td>
							<td th:text="${product.productType}">Product Type</td>
							<td th:text="${product.productName}">Product Name</td>
							<td th:text="${#numbers.formatInteger(product.price, 0)}">Price</td>
							<td
								th:text="${product.registrationDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">
								Registration Date</td>
							<td>
								<img th:if="${product.imageFile}" th:src="@{${product.imageFile}}" alt="Product Image"
									height="50" width="50">
								<span th:unless="${product.imageFile}">No Image</span>
							</td>
							<td th:text="${product.category}">Category</td>
							<td th:text="${product.seller.sellerId}">Seller ID</td>
						</tr>
					</tbody>
				</table><!-- NB Product -->
				

				<!-- 페이징 프라그먼트 -->
				<div th:replace="~{/paging::pagingFragment(paging=${regshop})}"></div>
				<!-- 버튼 프라그먼트 -->
				<div th:replace="~{/botton::bottonFragment}"></div>
			</div> <!-- NB Product -->
			
			<!-- 매출/매입 전표 -->
			<div class="main-contents2">
				<div class="main-contents2-header">
					<h1>매출/매입 전표</h1>
					<div>
						<span>자세히 보기</span>					
						<span>></span>
					</div>
				</div>
				<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="option1" th:checked="${option == 'option1'}">
                    <label class="btn btn-outline-primary" for="btnradio1">매출 전표</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="option2" th:checked="${option == 'option2'}">
                    <label class="btn btn-outline-primary" for="btnradio2">매입 전표</label>
                </div>
                 <!--조건 조회 버튼 끝-->
                
                <!-- 옵션 1일때 시작 -->
                <div id="option1Content" style="display: none;">
					
                     <!--데이터 테이블 시작-->
				    <table class = "table table-hover">
				       <thead>
				            <tr>
				                <th>전표 코드</th>
				                <th>거래 일자</th>
				                <th>거래자</th>
				                <th>적요</th>
				                <th>금액</th>
				                <th>부가세</th>
				                <th>카드 번호</th>
				                <th>카드 이름</th>
				                <th>거래 유형</th>
				                <th>생성 일자</th>
				                <th>수정 일자</th>
				            </tr>
				        </thead>
				        <tbody>
				           <!--  for each 문 -->
				            <tr th:each="slip : ${saleSlipList}">
								<!-- 화면에 띄울 정보--> 
				                <td th:text="${slip.slipCode}"></td>
				                <td th:text="${slip.tradeDate}"></td>
				                <td th:text="${slip.trader}"></td>
				                <td th:text="${slip.description}"></td>
				                <td th:text="${slip.amount}"></td>
				                <td th:text="${slip.VAT}"></td>
				                <td th:text="${slip.cardNum}"></td>
				                <td th:text="${slip.cardName}"></td>
				                <td th:text="${slip.transactionType}"></td>
				                <td th:text="${slip.createdAt}"></td>
				                <td th:text="${slip.updatedAt}"></td>
				            </tr>
				        </tbody>
				    </table>
                   <!--  데이터 테이블 끝-->
                    
                   	 <!--페이징 프라그먼트--> 
					<div th:replace="~{/paging::pagingFragment(paging=${saleSlipList})}"></div>
					 <!--버튼 프라그먼트--> 
					<div th:replace="~{/botton::bottonFragment}"></div>

                </div>  <!--옵션 1일 때 리스트--> 
                
                 <!--옵션 2일때 시작 -->
                <div id="option2Content" style="display: none;">
					                    <!-- 데이터 테이블 시작-->
				   <table class = "table table-hover">
					   <thead>
				            <tr>
				                <th>전표 코드</th>
				                <th>거래 일자</th>
				                <th>거래자</th>
				                <th>적요</th>
				                <th>금액</th>
				                <th>부가세</th>
				                <th>카드 번호</th>
				                <th>카드 이름</th>
				                <th>거래 유형</th>
				                <th>생성 일자</th>
				                <th>수정 일자</th>
				            </tr>
				        </thead>
				        <tbody>
				             <!--for each 문 -->
				            <tr th:each="slip : ${purchaseSlipList}">
								 <!--화면에 띄울 정보--> 
				                <td th:text="${slip.slipCode}"></td>
				                <td th:text="${slip.tradeDate}"></td>
				                <td th:text="${slip.trader}"></td>
				                <td th:text="${slip.description}"></td>
				                <td th:text="${slip.amount}"></td>
				                <td th:text="${slip.VAT}"></td>
				                <td th:text="${slip.cardNum}"></td>
				                <td th:text="${slip.cardName}"></td>
				                <td th:text="${slip.transactionType}"></td>
				                <td th:text="${slip.createdAt}"></td>
				                <td th:text="${slip.updatedAt}"></td>
				            </tr>
				        </tbody>
				    </table>
                    <!-- 데이터 테이블 끝-->
	                 <!--페이징 프라그먼트--> 
					<div th:replace="~{/paging::pagingFragment(paging=${purchaseSlipList})}"></div>
					 <!--버튼 프라그먼트--> 
					<div th:replace="~{/botton::bottonFragment}"></div>
                </div>  <!--옵션 2일 때 리스트 -->
			</div>  <!--매출/매입 전표 끝--> 
			
			 <!--BOM--> 
			<div class="main-contents3">
				<div class="main-contents3-header">
					<h1>bom</h1>
					<div>
						<span>자세히 보기</span>					
						<span>></span>
					</div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>품목코드</th>
							<th>품목명</th>
							<th>원재료개수</th>
							<th>단위</th>
							<th>수량</th>
							<th>구분</th>
							<th>생산수량</th>
							<th>작업시간</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active" th:each="bom : ${bomlist.content}">
							<td>
								<a th:href="@{|/PD/bom/${bom.ProdCode}|}" th:text="${bom.prodCode}"></a>
							</td>
							<td th:text="${bom.prodName}"></td>
							<td th:text="${bom.rawMatNum}"></td>
							<td th:text="${bom.unit}"></td>
							<td th:text="${bom.num}"></td>
							<td th:text="${bom.type}"></td>
							<td th:text="${bom.rawNum}"></td>
							<td th:text="${bom.workTime}"></td>
						</tr>
					</tbody>

				
				</table>
				<div th:replace="~{/paging::pagingFragment(paging=${bomlist})}"></div>
			</div> <!-- BOM End -->
			
			<!-- contents -->
			<div class="main-contents4"></div>

	</div> <!-- main contents 끝 -->
	

	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<!-- JQuery 연결 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="calendar.js"></script>
	<script type="text/javascript" src="weather.js"></script>
	<script>
	    $(document).ready(function () {
	        var selectedOption = localStorage.getItem('selectedOption') || "option1";
	        var currentPage = localStorage.getItem('currentPage') || 1;
	
	        if (selectedOption === "option1") {
	            $("#option1Content").show();
	            $("#option2Content").hide();
	        } else if (selectedOption === "option2") {
	            $("#option1Content").hide();
	            $("#option2Content").show();
	        }
	        $("input[name='btnradio'][value='" + selectedOption + "']").prop('checked', true);
	
	        // 라디오 버튼 변경 시 로컬 스토리지에 저장
	        $("input[name='btnradio']").change(function () {
	            selectedOption = $(this).val();
	            localStorage.setItem('selectedOption', selectedOption);
	            
	            // 페이지를 0으로 설정
	            localStorage.setItem('currentPage', 0);
	            
	            // 현재 URL에서 페이지 파라미터를 제거한 뒤 페이지를 0으로 설정하여 리로드
	            var currentUrl = window.location.href.split('?')[0];
	            window.location.href = currentUrl + "?page=0";
	        });
	    });
	</script>
	
</body>

</html>