<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수익 조회</title>
</head>
<body>
    <h1>수익 정보</h1>
    <table>
        <thead>
            <tr>
                <th>년/월</th>
                <th>수익</th>
                <th>부가세</th>
                <th>비용</th>
                <th>순수익</th>
                <th>적요</th>
                <th>생성 일자</th>
                <th>수정 일자</th>
            </tr>
        </thead>
        <tbody>
            <!-- for each 문 -->
            <tr th:each="month : ${monthIncome}">
                <!-- 화면에 띄울 정보 -->
                <td th:text="${month.monthId}"></td>
                <td th:text="${month.revenu}"></td>
                <td th:text="${month.VAT}"></td>
                <td th:text="${month.expense}"></td>
                <td th:text="${month.netIncome}"></td>
                <td th:text="${month.description}"></td>
                <td th:text="${month.createdAt}"></td>
                <td th:text="${month.updatedAt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
