 <!-- 페이징 처리 -->
<div th:fragment ="pagingFragment" th:if="${paging.totalPages > 1}">
  <ul class="pagination justify-content-center" >
  	<!-- 이전 페이지 링크 -->
    <li class="page-item" th:classappend="${paging.hasPrevious()} ?  '' : 'disabled'">
      <a class="page-link" th:href="@{${currentUrl}(page=0)}">&laquo;</a>
    </li>
    
    <!-- 페이지 번호 링크 -->
    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, paging.totalPages - 1)}"
    	th:if="${pageNum >= paging.number-5 and pageNum <= paging.number+5}"
        th:classappend="${pageNum == paging.number ? 'active' : ''}">
      <a class="page-link" th:href="@{${currentUrl}(page=${pageNum})}" th:text="${pageNum + 1}"></a>
    </li>
    
    <!-- 다음 페이지 링크 -->
    <li class="page-item" th:classappend="${paging.hasNext()} ?  '': 'disabled'">
      <a class="page-link" th:href="@{${currentUrl}(page=${paging.totalPages-1})}">&raquo;</a>
    </li>
  </ul>
</div>