+
<div class="accordion" id="accordionExample" th:fragment ="PC_arcodianFragment">
	<!-- 아코디언 아이템 1 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
				aria-expanded="true" aria-controls="collapseOne">
				발주서관리
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/PC/purchase/ordersheet">발주서 조회</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 2 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				구매관리
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/PC/purchase/purchaseinquiry">구매현황</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/PC/">기능추가</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>

	<!-- 아코디언 아이템 3 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				거래처관리
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/PC/">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/PC/">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/PC/">기능 삽입</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/PC/">기능 삽입</a>
			</div>
		</div>
	</div>


	<!-- 아코디언 아이템 4 -->
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				기능추가
			</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
			data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="dropdown-item" href="http://localhost:8080/SD/product/regshop">쇼핑몰 상품 등록관리</a>
				<br>
				<a class="dropdown-item" href="http://localhost:8080/SD/product/pbproduct">PB제품 관리</a>
				<br>
				<a class="dropdown-item" href="#">기능 삽입</a>
			</div>
		</div>
	</div>
</div>