<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>근로계약서 수정</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS 연결 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>



<body>
	<!-- 네비게이션바 프라그먼트-->
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<div class="container-fluid">
		<div class="row">
			<!-- 아코디언 메뉴 칼럼 프라그먼트 (5분의 1 크기) -->
			<div class="col-lg-2">
				<div th:replace="~{HR/HR_arcodian :: HR_arcodianFragment}"></div>
			</div>

			<!-- 테이블 컬럼 (1:4 비율) -->
			<div class="col-lg-10">


				<!-- 폼 -->
				<form th:action="@{/HR/cont/update/{id}(id=${HR_contUpdateForm.id})}" th:object="${HR_contUpdateForm}"
					method="post">
					<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
					<input type="hidden" th:field="*{id}" /> <!-- id값 숨겨서 함께 전달 -->

					<div class="mb-3">
						<label for="employeeId" class="form-label">사원번호</label>
						<input type="text" th:field="*{employeeId}" class="form-control">
					</div>
					<div class="mb-3">
						<label for="contractName" class="form-label">근로계약서 이름</label>
						<input type="text" th:field="*{contractName}" class="form-control">
						<div th:if="${#fields.hasErrors('contractName')}" th:errors="*{contractName}"
							class="alert alert-danger"></div>
					</div>
					<div class="mb-3">
						<label for="contractDate" class="form-label">근로계약서 등록일</label>
						<input type="date" th:field="*{contractDate}" class="form-control">
						<div th:if="${#fields.hasErrors('contractDate')}" th:errors="*{contractDate}"
							class="alert alert-danger"></div>
					</div>
					<div class="mb-3">
						<label for="signA" class="form-label">서명요청 여부</label>
						<div>
							<input type="radio" id="signA_false" name="signA" value="미요청" th:field="*{signA}">
							<label for="signA_false">미요청</label>
						</div>
						<div>
							<input type="radio" id="signA_true" name="signA" value="요청완료" th:field="*{signA}">
							<label for="signA_true">요청완료</label>
						</div>
					</div>
					<div class="mb-3">
						<label for="signB" class="form-label">서명완료 여부</label>
						<div>
							<input type="radio" id="signB_false" name="signB" value="미완료" th:field="*{signB}">
							<label for="signB_false">미완료</label>
						</div>
						<div>
							<input type="radio" id="signB_true" name="signB" value="서명완료" th:field="*{signB}">
							<label for="signB_true">서명완료</label>
						</div>
					</div>

					<button type="submit" class="btn btn-primary">수정</button>
				</form>
				<br>
				<p><a class="btn btn-primary" href="http://localhost:8080/">홈으로 돌아가기</a></p>a></p>
				<!-- 폼 끝-->


			</div>
			<!-- 테이블 컬럼 끝(1:4 비율) -->

		</div> <!-- 컨테이너 플루이드 정의 끝 -->
	</div> <!-- 컨테이너 플루이드 끝 -->




	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>