.main-contents {
	display: flex;
	position: relative;
	flex-direction: row;
	z-index: 3;
	width: 100%;
	padding-top: 100px;
	align-items: flex-start;
	justify-content: flex-end;
	background-color:#fcfcfd;
}

.main-contents > div {
	margin-right: 30px;
}