.main-contents {
	display: flex;
	position: relative;
	flex-direction: row;
	z-index: 3;
	width: 100%;
	padding-top: 100px;
	align-items: flex-start;
	justify-content: flex-end;
}

.main-contents > div {
	border-radius: 7px;
	margin-right: 30px;
	padding: 30px;
	background-color: #FCFCFD;
}

.main-contents div h1 {
	color: rgba(0,0,0,0.65);
	font-weight: 600;
}